.searchContainer{
    padding: 130px 120px;
    position: relative;
}

.title{
    color: white;
    font-size: 60px;
    line-height: 5px;
}


.text{
    color: #767e94;
}


.searchForm input {
    margin-top: 20px;
    width: 400px;
    background-color: #20283e;
    outline: none;
    position: relative;
    appearance: none;
    padding: 20px 10px 7px 40px;
    color: #6a6f81;
    font-size: 15px;
    line-height: 20px;
    border-radius: 10px;
    border: 1.4px solid #61697f;
}

input:focus{
    border-color: #493bc3;
}

input::placeholder{
    font-size: 15px;
    color: #3c425d;
    font-weight: normal;
}

.searchForm {
    position: relative;
}

.icon{
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 7px;
}

.icon img{
    width: 33px;
}
label{
    position: absolute;
    color: #475069;
    font-size: 14px;
    top: 50%;
    left: 40px;
    pointer-events: none;
    transition: all 0.3s ease;
}


.searchInput:focus + label {
    top: 25px;
    font-size: 12px;
    color: #777;
}

.searchInput::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.searchInput:focus::placeholder {
    opacity: 1;
}
